<h1>更新文章</h1>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

<%= content_for :styles do %>
  <%= stylesheet_link_tag 'articles', media: 'all' %>
<% end %>
