<% provide(:title, '文章') %>
<div class="list">
  <% @articles.each do |article| %>
    <div class="cell panel">
      <div class="row">
        <div class="col-md-9">
          <%= link_to article.title, article, class: "title", title: article.title %>
        </div>
        <div class="col-md-3">
          <div class="pull-right small">
            <% if article.updated_at > article.created_at %>
              <div title="<%= article.updated_at.localtime.to_s(:db) %>"><%= time_ago_in_words article.updated_at.localtime.to_s(:db) %></div>
            <% else %>
              <div title="<%= article.created_at.localtime.to_s(:db) %>"><%= time_ago_in_words article.created_at.localtime.to_s(:db) %></div>
            <% end %>
         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @articles %>

<%= content_for :styles do %>
  <%= stylesheet_link_tag "articles" %>
<% end %>
