<div class="content">
  <div id="notice"><%= notice %></div>
  <div class="panel">
    <div class="article_title">
      <%= @article.title %> 
    </div>
    <div class="inner">
      <div class="article_content">
       <%= @article.content %> 
      </div>
      <div class="action"></div>
    </div>
  </div>
</div>

<% if signed_in? && current_user?(current_user) %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
<% end %>

<%= content_for :styles do %>
  <%= stylesheet_link_tag "articles", media: "all" %>
<% end %>
