<%= content_for :styles do %>
  <!--<link rel="stylesheet" href="/assets/home.js" />-->
  <%= stylesheet_link_tag "home" %>
<% end %>
<%= content_for :scripts do %>
  <!--<script type="text/javascript" src="/assets/home.js"></script>-->
  <%= javascript_include_tag "home" %>
  <script type="text/javascript">

  </script>
<% end %>
<h1>nil</h1>
<h1>文章列表</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>


