<%= content_for :styles do %>
  <!--<link rel="stylesheet" href="/assets/home.js" />-->
  <%= stylesheet_link_tag "home" %>
  <style type="text/css">
    .jumbotron {
      text-align: center;
    }
  </style>
<% end %>
<%= content_for :scripts do %>
  <!--<script type="text/javascript" src="/assets/home.js"></script>-->
  <%= javascript_include_tag "home" %>
<% end %>

<div class="container">
  <div class="jumbotron">
    <%= raw SiteConfig.jumbotron_html %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>文章</h2>
      <p>原创或者转载的文章</p>
      <p><a class="btn btn-primary" href="/articles">View</a></p>
    </div>
    <div class="col-md-4">
      <h2>闪存</h2>
      <p>一些有用的或者乱七八糟的东西</p>
      <p><a class="btn btn-primary" href="/ings">View</a></p>
    </div>
    <div class="col-md-4">
      <h2>链接</h2>
      <p>该模块尚未开发</p>
      <p><a class="btn btn-primary" href="javascript:void(0);">View</a></p>
    </div>
  </div>
</div>

