<%= content_for :styles do %>
  <!--<link rel="stylesheet" href="/assets/home.js" />-->
  <%= stylesheet_link_tag "home" %>
  <style type="text/css">
    .list {
      padding: 0px;
      line-height:2em;
      background-color: #FFF;
      border-radius: 3px;
    }
    .cell {
      border-top: 1px solid #F0F0F0; 
      padding-right: 10px;
      overflow: hidden;
      position: relative;
      padding: 10px;
      font-size: 14px;
    }
    .cell:hover{
      background-color: #F5F5F5;
    }
  </style>
<% end %>
<%= content_for :scripts do %>
  <!--<script type="text/javascript" src="/assets/home.js"></script>-->
  <%= javascript_include_tag "home" %>
  <script type="text/javascript">

  </script>
<% end %>
<div class="list">
    <% @articles.each do |article| %>
      <div class="cell">
        <a class="title" title="<%= article.title %>" href="articles/<%= article.id %>">
          <%= article.title %>
        </a>
      </div>
    <% end %>
</div>

