<% provide(:title, '闪存') %>

<div id="notice"></div>

<div class="ing_form">
  <%= render 'form' %>
</div>

<div id="list" class="list">
  <% @ings.each do |ing| %>
    <%= render('item', ing: ing) %>
  <% end %>
</div>

<%= will_paginate @ings %>

<%= content_for :styles do  %>
  <%= stylesheet_link_tag "ings", media: 'all' %>
<% end %>
