<div class="panel">
  <div class="content">
    <%= @ing.content %>
  </div>
  <div class="ing_footer small">
    <span>创建时间:<%= @ing.created_at.localtime.to_s(:db) %></span>
    <span>更新时间:<%= @ing.updated_at.localtime.to_s(:db) %></span>
    <% if signed_in? %>
      <%= link_to '编辑', edit_ing_path(@ing) %>
      <%= link_to '删除', @ing, method: :delete, data: { confirm: '确定要删除吗?'} %>
    <% end %>
  </div>
</div>

<%= content_for :styles do %>
  <%= stylesheet_link_tag "ings", media: "all" %>
<% end %>
