<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>
  <link rel="shortcut icon" href="favicon.ico">
  <title><%= full_title(yield(:title)) %></title>
  <link href="http://grjsoft.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://grjsoft.com/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container main">
    <% flash.each do |key, value| %>
      <div class="control-label has-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <script src="http://grjsoft.com/libs/jquery/jquery-2.1.1.min.js"></script>
  <script src="http://grjsoft.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "jquery-ujs" %>
  <%= yield :scripts %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
